<div class="ui-g">
  <div class="ui-g-12">
    <p-table [columns]="cols" (onLazyLoad)="loadCoinsLazy($event)" [lazy]="true" [loading]="loading" [value]="coinTable"
      [totalRecords]="totalRecords" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-coinTable>
        <tr>
          <td>
            <div style="display: flex;flex-direction: row;flex-wrap:wrap;align-items: center">
              <img style="width: 30px;vertical-align: middle flex: 0 1 auto" src={{baseUrl}}{{coinTable.imageUrl}} />
              <h3 style="flex: 0 1 auto"><span
                  style="font-style: normal; font-size: 14px;">{{coinTable.coinSymbol}}</span> <br>
                <i style="font-style: normal; font-size: 14px;color: #666">{{coinTable.coinName}}</i>
              </h3>
            </div>
          </td>
          <td>
            <h3>{{coinTable.price}}</h3>
          </td>
          <td>
            <h3>{{coinTable.total_vol}}</h3>
          </td>
          <td>
            <h3>{{coinTable.top_tier_vol}}</h3>
          </td>
          <td>
            <h3> {{coinTable.mkt_cap}}</h3>
          </td>
          <td>
            <h3>{{coinTable.change_24H}}</h3>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>